<footer class="footer">
  <small>
    The <a href="#">OshaHippaProcessor</a>
    by <a href="#">Steve Zhang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><#">News</a></li>
    </ul>
  </nav>
</footer>